---
---

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.2rem;
}

h2 {
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 4px;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  font-weight: 500;
}

ul {
  margin-top: 0.5rem;
}
